.site-header{
	background-color: #FFF;
	border-bottom: $color-gray-lines;
	padding: $std-padding;
	display: flex;
	height: 80px;
	@extend .clear;

	.logo{
		position: relative;
		svg{
			max-height: 150px;
			width: auto;
		}
		.logo-container{
			position: absolute;
			top: -10px;
		}
	}

	.navigation{
		margin: auto 0;
		.menu{
			@extend .reset;
			list-style: none;
			li{
				display: inline-block;
				a{
					display: block;
					color: #333;
					text-decoration: none;
				}
			}
		}
	}
}