.home-billboard{
	display: flex;
	height: 500px;
	padding: 20px;
	.wrapper{
		display: flex;
		.billboard-content{
			margin: auto 0;
			width: 50%;
			@include mobile{
				width: 100%;
				text-align: center;
			}
			h1{
				font-size: 42px;
				font-weight: bold;
				letter-spacing: -1px;
			}
			.billboard-summary{
				margin-bottom: 15px;
				font-size: 18px;
			}
		}
	}
}


.home-cta-container{
	display: flex;
	min-height: 200px;
	background: grey;
	justify-content: center;
	.cta-item{
		background: blue;
		flex-basis: 50%;
		display: flex;
		padding: 25px;
		align-content: center;
		.inner-cta{
			//margin: auto;
		}
	}
}